.gallery {
    column-count: 3;
    column-gap: 30px;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
  }
  
  .gallery-item {
    break-inside: avoid-column;
    margin-bottom: 30px;
  }
  
  .gallery-item:hover,
  .gallery-item:focus {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
  }


/* The Modal (background) */
.modal {
    flex-direction: column;
    align-items: center; /* This centers all children horizontally */
    justify-content: center; /* This centers the modal vertically in the viewport */
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    /* transform: translateY(50%); */
    margin: auto; /* This will center the image vertically and horizontally */
    max-height: 90vh; /* Maximum height is 80% of the viewport height */
    max-width: 90vw; /* Maximum height is 80% of the viewport height */
    display: block;
    justify-content: center;
    align-items: center;
  }
  
/* Make sure caption (title / comment of images) centred in the screen */
  #caption {
    text-align: center;
    width: 100%; /* Ensures the caption spans the full width of its container */
    padding: 10px 0; /* Adds padding above and below the text */
    color: white; /* Sets the text color, adjust as needed */
    font-size: 25px;
    box-sizing: border-box; /* Ensures padding doesn't affect the total width */
  }

  
  /* The Close Button */
  .close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  /* Prevent scrolling on the body when modal is open */
body.modal-open {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
  }

body.modal-open .prev, body.modal-open .next {
  display: block;
}
  
  

/* Arrow buttons for navigation */
.prev, .next {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Hover effect for arrows */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
