/* WHEN WITH DARK-MODE */
.dark-mode .img-box {
    display: flex;
    padding: 20px;
}
.dark-mode .img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* display images in the container */
    padding-left: 100px;
    padding-right: 100px;
  }
.dark-mode .hide-info {
    display: block;
    padding-left: 40px;
}
.dark-mode .img-box:hover {
    transform: scale(1); /* DO NOT enlarge the image on hover if with dark-mode*/
  }
.dark-mode .movie-info:hover {
    display: none;
}

.dark-mode .movie-info {
  display: none;
}